body {
    font-family: Verdana, sans-serif;
}

.mapping-and-details-container {
    display: grid;
    align-items: start;
    /* Left colum mapping list, right colum details.
    Grid is overkill here, because each column has just one <div>, but it should be easy to refactor that. */
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 95%;
    padding: 1rem;
}
