.layout-top-bar-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) 1fr;
    gap: 1rem;
    width: 95%;
    padding: 1rem;
}

.layout-top-bar-container > div {
    text-align: center;
}

.top-bar-keyboard-tab-label {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 4px;
}

.top-bar-keyboard-tab-label-and-note.selected .top-bar-keyboard-tab-label {
    background-color: #5cdbef;
    border: 1px solid #003fae;
}

.top-bar-keyboard-tab-note {
    padding: 0.5rem;
    font-style: italic;
    min-height: 1.5em;
    display: block;
    visibility: hidden;
}

.top-bar-keyboard-tab-label-and-note.selected .top-bar-keyboard-tab-note,
.top-bar-keyboard-tab-label-and-note:hover .top-bar-keyboard-tab-note {
    visibility: visible;
}

.layout-options-bar-container {
    margin-left: 10%;
    margin-right: 10%;
    padding: 1rem;
}

.ansi-layout-options-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: flex-start;
}

.ansi-variant-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    text-align: center;
}

.ansi-variant-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 180px;
}

.harmonic-layout-options-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.plank-layout-options-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.25fr 1.5fr;
    justify-items: center;
}

.ergoplank-midshift-xl-bars-checkbox {
    margin-top: 0.2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.ergoplank-midshift-sub-variants-container {
    margin-left: 1rem;
}
.ergoplank-lowshift-variants-container {
    margin-top: 0.35rem;
}

.ergoplank-angle-mod-checkbox {
    margin-left: 1.25rem;
    margin-top: 0.15rem;
}

.layout-variant-button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
}

.layout-variant-button-and-children.selected .layout-variant-button {
    background-color: #5cdbef;
    border: 1px solid #003fae;
}

.layout-variant-options {
    display: block;
    visibility: hidden;
}

.layout-variant-button-and-children.selected .layout-variant-options {
    visibility: visible;
}

.flip-ret-rub-button {
    /*margin: 0.5rem;*/
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 4px;
}

.ansi-ahkb-options-container {
    margin: 0.5rem;
    text-align: left;
}

label.disabled {
    color: gray;
}

.visualization-switches {
    margin-left: 10%;
}

.viz-type-button {
    margin: 0.3rem;
    border-radius: 4px;

    &.selected {
        background-color: #5cdbef;
        border: 1px solid #003fae;
    }
}

.download-klc-link {
    margin-left: 1rem;
    color: #003fae;
    text-decoration: none;
    cursor: pointer;
}

.download-klc-link:hover {
    text-decoration: underline;
    color: #5cdbef;
}
